.logInAndSignUpButtonContainer {
  display: flex;
  position: relative;
  margin-right: 20px;
  margin-bottom: 3px;
}

.logInAndSignUpButton {
  width: 8.4em;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 4px 8px;
  font-weight: 700;
  transition: linear .3s;
  border-radius: 8px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  color: rgb(227, 223, 223);
  background-color: #922424;
  font-family: inherit;
  cursor: default;
  margin-bottom: 4px;
}

.logInAndSignUpButton:hover {
  background-color: rgb(20, 20, 20);
}
