.danceCoursesContainer {
  display: flex;
  justify-content: center;
  background-color: #363333;
  background-image: linear-gradient(to bottom left, #343232, #111010);
}

.danceCourseList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 72px;
  grid-row-gap: 52px;
  position: relative;
  width: 100%;
  margin: 100px auto 30px;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  grid-auto-flow: row dense;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  width: 100em;
  min-height: 82.4vh;
  margin-top: 5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/assets/topCoursesSalsa.jpg');
  filter: brightness(70%);
}

.loading {
  width: fit-content;
  top: 180px;
  left: 44px;
  margin-left: 4rem;
  padding: 6.4rem 8rem 3.4rem 8rem;
  background: linear-gradient(to left, rgb(78, 77, 77), #383737);
  border-radius: 14px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 6px rgb(0, 0, 0);
  z-index: 1000;
}

.loadingText {
  width: fit-content;
  margin-left: 8.2em;
  margin-top: 38px;
  cursor: default;
  user-select: none;
  color: rgb(242, 240, 240);
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.4;
  z-index: 1000;
}
