.danceCoursesContainer {
  display: flex;
  justify-content: center;
}

.danceCourseList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 72px;
  grid-row-gap: 52px;
  position: relative;
  width: 100%;
  margin: 100px auto 30px;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  grid-auto-flow: row dense;
}
