.navContainer {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  top: 2em;
  font-size: 1.55rem;
  color:rgb(117, 117, 102);
  background-color: rgb(71, 68, 67);
  z-index: -1;
  margin-left: 1em;
}

.navList {
  display: flex;
}

.navLabel {
  padding: 3px 100px;
  font-weight: 600;
  padding-bottom: 3px;
}

.navLinkItem {
  font-size: 1.4rem;
  color: rgb(234, 229, 229);
}

a:hover {
  color: rgb(153, 22, 22);
}
