header {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgb(47, 32, 32);
  z-index: 10;
}

.logoContainer {
  max-width: 13.5em;
  height: 5.2em;
  z-index: 2;
}

.logo {
  width: 18em;
  height: 5.2em;
  margin: 0 auto;
  max-width: 100%;
}
